@model StackITmvc.Models.Hardware

@{
    ViewData["Title"] = "Create";
}

<h1>Create Hardware</h1>

<hr />
<h4>Hardware Information</h4>
<section class="create-information">
    <div class="create-information__wrapper">
        <form asp-action="Create" class="create-information__form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HardwareName" class="control-label"></label>
                <input asp-for="HardwareName" class="form-control" />
                <span asp-validation-for="HardwareName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn_blue" />
            </div>
        </form>
    </div>
    
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
