@{Layout = "_homePage";

    ViewData["Title"] = "Home Page";
}


<main>
    <section class="about">
        <div class="site-wrapper flex">
            <div class="about__wrapper-left">
                <img class="about__image" src="../Image/kat.png" alt="">
            </div>
            <div class="about__wrapper-right">
                <h1 class="about__title">About StackIT</h1>
                <p class="about__text">
                    We are focused on optimizing production equipment and proceses in general where OEE i
                    s the overall driver in our work. We are specialist in CNC-macines and optimization of robot
                    assited machine tending. We are at the moment developing a new software that will make the
                    use of small batch robot assisted machine tending profitable for SME’s.
                </p>
            </div>
        </div>

    </section>

    <!--Services section-->
    <section class="services-about">
        <div class="site-wrapper">
            <h2 class="about-services__title">Our Services</h2>
            <div class="about-services__wrapper">
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">PCNC - service</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">Development of end of arm tooling (EOAT)</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">Cobot installation</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">Mechanical Engineering</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">Machine tending</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">PLC - Programming</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">Programming of microcontrolers</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">Development of robot gripper</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur.
                    </p>
                </div>
                <div class="about-services__hover">
                    <i class="fas fa-robot"></i>
                    <h2 class="about-focusbox__title">Robot Installation</h2>
                    <p class="about-focusbox__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Lorem ipsum dolor sit, amet consectetur
                    </p>
                </div>
            </div>
        </div>
    </section>


   
    <!--partner-->
    <section class="partner">
        <div class="site-wrapper">
            <h3 class="partner__title">Our Partners</h3>
            <div class="partner__imageWrapper">
                <div><img class="partner__img" src="@Url.Content("Image/partner.png")" alt=""></div>
                <div><img class="partner__img" src="Image/partner.png" alt=""></div>
                <div><img class="partner__img" src="Image/partner.png" alt=""></div>
                <div><img class="partner__img" src="Image/partner.png" alt=""></div>
                <div><img class="partner__img" src="Image/partner.png" alt=""></div>
                <div><img class="partner__img" src="Image/partner.png" alt=""></div>
                <div><img class="partner__img" src="Image/partner.png" alt=""></div>
            </div>
        </div>

    </section>
</main>

